<div class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-xs-8 offset-xs-2">
        <button class="btn btn-primary" {{action "battle"}}>Begin Battle</button>

        <ul class="list-group reverse-list-group actions">
            {{#each battleReport as |action|}}
                <li class="list-group-item d-flex justify-content-between align-items-center action">
                    {{action.summary}}

                    {{#if action.damage}}
                        <span class="badge badge-danger badge-pill">-{{action.damage}}</span>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
</div>
{{yield}}