{{yield}}

{{#each dummies as |dummy idx|}}
    <div class="col-md-4 col-xl-3">
        <div class="card dummy-card">
            <div class="card-header">
                <h3>{{dummy.name}}</h3>
            </div>
            <div class="card-body">
                <h5><small class="pull-left">Health</small> <span class="pull-right"><i class="fa fa-plus"></i> {{dummy.health}}</span></h5>
                <br/>
                <h5><small class="pull-left">Accuracy</small><span class="pull-right"><i class="fa fa-crosshairs"></i> {{dummy.accuracy}}</span></h5> 

                <br/>
                <br/>

                <span class="pull-left"><b>{{dummy.weapon.name}}</b></span>
                <span class="pull-right"><i class="fa fa-flash"></i> <b>{{dummy.weapon.bullet.damage}}</b></span>

                <br/>
                <hr/>

                <button class="btn btn-dark btn-block" {{action "fightDummy" idx}}>
                    <i class="fa fa-crosshairs"></i>
                </button>
            </div>
        </div>
    </div>
{{/each}}