{{yield}}

<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
    <div class="user-info">
        <span class="display-name">{{user.user.name}}</span>
        <span class="money pull-right"><i class="fa fa-money"></i> {{user.user.money}}</span>

        <div class="bg-exp-bar">
        </div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ease" {{action "goToTrain"}}>
                <i class="fa fa-home nav-link ease"></i>
                <a class="nav-link ease" href="#">Home</a>
            </li>
            <li class="nav-item ease" {{action "goToTrain"}}>
                <i class="fa fa-flag nav-link ease"></i>
                <a class="nav-link ease" href="#">Train</a>
            </li>
            <li class="nav-item ease" {{action "goToTrain"}}>
                <i class="fa fa-flag-checkered nav-link ease"></i>
                <a class="nav-link ease" href="#">Fight</a>
            </li>
            <li class="nav-item ease" {{action "goToTrain"}}>
                <i class="fa fa-shopping-cart nav-link ease"></i>
                <a class="nav-link ease" href="#">Shop</a>
            </li>
            <li class="nav-item ease" {{action "goToTrain"}}>
                <i class="fa fa-handshake-o nav-link ease"></i>
                <a class="nav-link ease" href="#">Tasks</a>
            </li>
        </ul>
    </div>
</nav>