<div class="overlay">
    <div class="card sign-in">
        <div class="card-body">
            <form>
                <div class="form-group sandwich-form">
                    {{#if error}}
                        <span class="message text-white bg-danger">{{message}}</span>
                    {{else}}
                        <span class="message text-white {{if signIn 'bg-primary' 'bg-success'}}">{{message}}</span>
                    {{/if}}
                    
                    {{#if signIn}}
                        {{ input type="email" class="form-control" id="email" placeholder="name@example.com" value=email }}
                        {{ input type="password" class="form-control" id="password" placeholder="Password" value=password }}
                    {{else}}
                        {{ input type="email" class="form-control" id="email" placeholder="name@example.com" value=email }}
                        {{ input type="text" class="form-control" id="display" placeholder="Display Name (20 max)" value=display }}
                        {{ input type="password" class="form-control" id="password" placeholder="Password (8 min)" value=password }}
                        {{ input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" value=confirmPassword }}
                    {{/if}}

                    <div class="sign-in-up-toggle">
                        <span class="bg-light text-{{if signIn 'success' 'primary'}}" {{action "toggleSignIn"}}>
                            {{#if signIn}}
                                Don't have an account?
                            {{else}}
                                Already have an account?
                            {{/if}}
                        </span>

                        {{#if signIn}}
                            <button class="btn btn-primary" {{action "signIn"}}>
                                <i class="fa fa-sign-in"></i>
                            </button>
                        {{else}}
                            <button class="btn btn-success" {{action "signUp"}}>
                                <i class="fa fa-user-plus"></i>
                            </button>
                        {{/if}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{yield}}