@import './font-awesome-4.7.0/scss/font-awesome';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$font-family-base: "Roboto";

body {
    overflow: hidden;
    user-select: none;
}

.reverse-list-group {
    flex-flow: column-reverse !important;
    
    .list-group-item:first-child {
        margin-bottom: 0;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        margin-top: inherit;
        border-top-right-radius: inherit;
        border-top-left-radius: inherit;
    }
    
    .list-group-item:last-child {
        margin-top: 0;
        border-top-right-radius: 0.25rem;
        border-top-left-radius: 0.25rem;
        margin-bottom: inherit;
        border-bottom-right-radius: inherit;
        border-bottom-left-radius: inherit;
        border-bottom: 0;
    }
}

.navbar {
    padding: 0 !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.125);

    .user-info {
        height: 30px;
        line-height: 30px;

        margin-left: 20px;

        padding-left: 10px;
        padding-right: 10px;

        width: 300px;
        border-radius: 30px;
        box-shadow: 0 2.5px 10px rgba(0, 0, 0, 0.25);
        position: relative;
        z-index: 1;
        
        &:hover {
            .bg-exp-bar {
                background-color: rgba(0, 123, 255, 0.35);
                
                .progress-text {
                    visibility: visible;
                }
            }
        }

        .bg-exp-bar {
            height: 100%;
            min-width: 30px;

            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 123, 255, 0.25);
            border-radius: 30px;
            z-index: -1;

            display: flex;

            .progress-text {
                margin-left: auto;
                margin-right: auto;
                margin-top: 35px;

                padding-left: 10px;
                padding-right: 10px;

                width: auto;
                height: 20px;

                color: white;

                border-radius: 10px;
                line-height: 20px;
                font-size: 12px;
                text-align: center;

                background-color: rgba(0, 0, 0, 0.8);

                visibility: hidden;
            }
        }
    }

    .nav-item {
        text-align: center;
        line-height: 0;
        padding: 15px;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;

        font-size: 1.25rem;

        cursor: pointer;

        &:hover {
            border-left: 1px solid rgba(0, 0, 0, 0.25);
            border-right: 1px solid rgba(0, 0, 0, 0.25);
            background-color: rgba(0, 0, 0, 0.045);

            i {
                -webkit-transform: translateY(0px);
                color: rgba(0, 0, 0, 0.75) !important;
            }

            a {
                opacity: 1;
                -webkit-transform: translateY(0px);
                color: rgba(0, 0, 0, 0.75) !important;
            }
        }

        a {
            opacity: 0;
            font-size: 1rem;

            -webkit-transform: translateY(12.5px);
        }

        i {
            padding-top: 0;
            -webkit-transform: translateY(12.5px);
        }
    }
}

.game-container {
    padding-top: 120px;
}

.overlay {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;

    background-color: rgba(0, 0, 0, 0.75);
}

.card.sign-in {
    width: 360px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    border: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

    .message {
        display: block;
        height: 30px;
        line-height: 30px;
        font-weight: 500;
        text-align: center;
    }

    .card-body {
        padding: 0;
    }

    .form-group {
        margin-bottom: 0;

        input {
            outline: none !important;

            border-left: 0;
            border-right: 0;
            border-top: 0;

            border-radius: 0;

            text-align: center;

            &:focus {
                box-shadow: none;
            }
        }

        button {
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            margin-left: 1px;
            border: 0;
        }
    }

    .sign-in-up-toggle {
        width: 100%;
        display: flex;

        span {
            width: 67%;
            line-height: 38px;

            font-size: 14px;
            text-align: center;

            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        button {
            width: 33%;

            border-bottom-left-radius: 0;
        }
    }
}

.card.dummy-card {
    border: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.125);

    .card-header {
        border: 0;
        box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.125);

        h3 {
            margin-bottom: 0;
        }
    }

    .card-body {
        h5 {
            line-height: 20px;
        }
    }
}

.ease {
    -webkit-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
        -moz-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
        -o-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
            transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
    
    -webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
        -moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
        -o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
            transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
}

@import "ember-cli-bootstrap-4/bootstrap";
