{{#if showSignInModal}}
    {{
        sign-in

        dismissSignInModal="dismissSignInModal"
    }}
{{/if}}

{{ 
    nav-bar
    
    goToTrain="goToTrain"
}}

<div class="container-fluid game-container">
    <div class="row">
        <div class="col-md-12 col-lg-10 offset-lg-1">
            {{outlet}}
        </div>
    </div>
</div>
